<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Issue Tracker</title>
    @*@Styles.Render("~/Content/Index")*@
    <link href="~/Content/Index.css" rel="stylesheet" type="text/css"/>
    @*//@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <header>
        <h1>Issue Tracker Application</h1>
        <nav>

        </nav>
    </header>
    
    <div class="Content">
        @RenderBody()
        <hr />
        

    </div>
    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - Issue Tracker</p>
    </footer>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
